@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

/* 제목 계열 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
}

legend {
  font-family: 'Lobster', cursive;
}

/* 네비게이션 */
.navbar {
  background-color: #ad1d28;
  border-color: #911821;
}

.navbar-light .navbar-brand {
  font-family: 'Lobster', cursive;
  color: #fff;
}

.navbar-light .navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svgxml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

/* 카드 */
.card {
  background-color: #469ea8;
  padding: 1rem;
}

.card-primary {
  border-color: #a2ced3;
  margin-bottom: 0.5rem;
}

/* 배너 */
.banner {
  margin-top: 4em;
  border-bottom: 1px solid #469ea8;
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
}

/* 리뷰 영역 */
.review-header {
  background-color: #31727a;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.review {
  margin-right: -16px;
  margin-left: -16px;
  margin-bottom: 0.5em;
}

/* 버튼/배지 */
.badge-default, .btn-primary {
  background-color: #ad1d28;
  border-color: #911821;
}

/* 링크 */
h4 a, h4 a:hover {
  color: #fff;
}

h4 small {
  font-size: 60%;
  line-height: 200%;
  color: #aaa;
}

h1 small {
  color: #aaa;
}

/* 주소 텍스트 흰색 */
.address {
  margin-bottom: 0.5rem;
  color: #fff;
}

/* 시설 뱃지 */
.facilities span.badge {
  margin-right: 2px;
}

/* 문단 */
p {
  margin-bottom: 0.65rem;
}

/* a 태그 */
a {
  color: rgba(255, 255, 255, 0.8);
}

a:hover {
  color: #fff;
}

/* 바디 */
body {
  font-family: "Cabin", Arial, sans-serif;
  color: #fff;
  background-color: #108a93;
}

.opening-times {
  list-style: none;   /* ● 제거 */
  margin: 0;          /* 바깥 여백 제거 */
  padding: 0;         /* 안쪽 여백 제거 */
}

.opening-times li {
  color: #fff;        /* 흰색 글씨 */
  margin-bottom: 0.3rem; /* 항목 사이 약간 간격 */
}

/* 시설 뱃지 (Hot drinks, Food, Premium wifi) */
.badge-warning {
  background-color: #ff9500ff !important; /* 주황색 */
  color: #fff;
  margin-right: 5px;
}

/* 별 아이콘 - 채워진 별도 회색 */
i.fa-star {
  color: #aaa;   /* 채워진 별 = 중간 회색 */
}
i.fa-star-o,
i.far.fa-star {
  color: #aaa;   /* 빈 별 = 연한 회색 */
}